{% extends "_layout.twig" %}

{% block scripts %}
    <script src="app/themes/ndblog/assets/js/widgets/prices/index.js" defer></script>
{% endblock %}

{% block content %}
    <div id="myDiv">
        My first Timber theme
    </div>
    <div id="myWidget"></div>
{% endblock %}